
/*** box ***/
.d-flex{
    display: flex;
}
.flex-bet{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p-rela{
    position: relative;
}
.p-aps{
    position: absolute;
}
.d-block{
    display: block;
}
.flow-hidden{
    overflow: hidden;
}
/*** box ***/

/********************* media ******************/
@media(max-width:767px){
    .hide-mobile{
        display: none;
    }
}
@media(max-width:767px){
    .block-mobile{
        display: block;
        
    }
}
/*********************** media ********************/

/*** color ***/
.c-twitter{
    color: #1da1f2;
}
.c-face{
    color: #1877f2;
}
.c-youtube{
    color: #ff0000;
}
.c-in{
    color: #0077b5;
}
.c-white{
    color: #fff;
}
.c-777{
    color: #777;
}
.c-green{
    color: var(--green);
}
.c-blue{
    color: var(--blue);
}
.c-red{
    color: var(--red);
}
.c-orange{
    color: var(--orange);
}
.bgg-twitter{
    background: #1da1f2;
}
.bgg-face{
    background: #1877f2;
}
.bgg-youtube{
    background: #ff0000;
}
.bgg-in{
    background: #0077b5;
}
.bg-twitter{
    background: rgba(29, 161, 242, 0.2);
}
.bg-face{
    background: rgba(24, 119, 242, 0.21);
}
.bg-youtube{
    background: rgba(255, 0, 0, 0.2);
}
.bg-in{
    background: rgba(0, 119, 181, 0.2);
}
.bg-eee{
    background: #eee;
}
.bg-orange{
    background: var(--orange);
}
.bg-orange-alt{
    background: rgba(255, 165, 0, 0.2);
}
.bg-white{
    background: #fff;
}
.bg-blue{
    background: var(--blue);
}
.bg-green{
    background: var(--green);
}
.bg-green-alt{
    background: rgba(0, 128, 0, 0.19);
}
.bg-red{
    background: var(--red);
}
.bg-red-alt{
    background: rgba(255, 0, 0, 0.2);
}
/******************** color *********************/

/******************** border *********************/
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
.rad-round{
    border-radius: 50%;
}
.bt-eee{
    border-top: 1px solid #eee;
}
.bb-eee{
    border-bottom: 1px solid #eee;
}
/******************** border *********************/

/******************** padding & margin*********************/
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.pt-5{
    padding-top: 5px;
}
.pt-10{
    padding-top: 10px;
}
.pt-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pb-5{
    padding-bottom: 5px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-20{
    padding-bottom: 20px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-40{
    margin-top: 40px;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
} 
.mr-20{
    margin-right: 20px;
} 
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.ml-15{
    margin-left: 15px;
}
.ml-20{
    margin-left: 20px;
}
/******************** padding & margin*********************/

/******************** fonts *********************/
.fs-12{
    font-size: 12px;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
/******************** fonts *********************/

/******************** text *********************/
.txt-c{
    text-align: center;
}
/******************** text *********************/

/******************** height & width *********************/
.w-full{
    width: 100%;
}
/******************** height & width *********************/



/******************** component *********************/
.btn-shape{
    border-radius: 6px;
    padding: 5px 10px;
}
.btn-shape-h:hover{
    background: var(--blue-alt);
}
/******************** component *********************/

